%h3
  
  Offer's List for 
  =@sell_point.name
  
  %a{href: url_for(action: 'new'), class:'btn btn-mini btn-success', style: 'margin-left:15px'} Create new


%div{class:'list-table'}
  %table{class:'table table-bordered', id: 'title_list'}
    %thead
      %tr
        %th Offer Name
        %th Start Date
        %th End Date
        %th Titles Count
        %th Price
        %th Actions
    %tbody
      - @offers.each do |offer|
        %tr 
          %td= offer.offer.name
          %td 2012
          %td 2013
          %td 3
          %td 12.23
          %td
            = link_to 'Edit', {action: :edit, id: offer}, class: 'btn btn-mini btn-primary'
            = link_to 'Delete', {action: :destroy, id: offer}, :method => :delete, data: { confirm: "Are you sure?" },class: 'btn btn-mini btn-danger'