%div
  %ul.breadcrumb
    %li
      %a{:href => "#"} Home
      %span.divider /
    %li
      %a{:href => "#"} Dashboard
.sortable.row-fluid
  %a.well.span3.top-block{"data-rel" => "tooltip", :href => "#", :title => "6 new members."}
    %span.icon32.icon-red.icon-user
    %div Total Members
    %div 507
    %span.notification 6
  %a.well.span3.top-block{"data-rel" => "tooltip", :href => "#", :title => "4 new pro members."}
    %span.icon32.icon-color.icon-star-on
    %div Pro Members
    %div 228
    %span.notification.green 4
  %a.well.span3.top-block{"data-rel" => "tooltip", :href => "#", :title => "$34 new sales."}
    %span.icon32.icon-color.icon-cart
    %div Sales
    %div $13320
    %span.notification.yellow $34
  %a.well.span3.top-block{"data-rel" => "tooltip", :href => "#", :title => "12 new messages."}
    %span.icon32.icon-color.icon-envelope-closed
    %div Messages
    %div 25
    %span.notification.red 12
.row-fluid
  .box.span12
    .box-header.well
      %h2
        %i.icon-info-sign
        Introduction
      .box-icon
        %a.btn.btn-setting.btn-round{:href => "#"}
          %i.icon-cog
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content
      %h1
        Lorem
        %small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
      %p
        %b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
      %p.center
        %a.btn.btn-large.btn-primary{:href => "#"}
          %i.icon-chevron-left.icon-white
          Back to article
        %a.btn.btn-large{:href => "#"}
          %i.icon-download-alt
          Download Page
      .clearfix
.row-fluid.sortable
  .box.span4
    .box-header.well
      %h2
        %i.icon-th
        Tabs
      .box-icon
        %a.btn.btn-setting.btn-round{:href => "#"}
          %i.icon-cog
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content
      %ul#myTab.nav.nav-tabs
        %li.active
          %a{:href => "#info"} Info
        %li
          %a{:href => "#custom"} Custom
        %li
          %a{:href => "#messages"} Messages
      #myTabContent.tab-content
        #info.tab-pane.active
          %h3
            Loorem
            %small a fully featued template
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
        #custom.tab-pane
          %h3
            Custom
            %small small text
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
        #messages.tab-pane
          %h3
            Messages
            %small small text
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor.
  / /span
  .box.span4
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-user
        Member Activity
      .box-icon
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content
      .box-content
        %ul.dashboard-list
          %li
            %strong Name:
            %a{:href => "#"}
              Jan Kowalski
            %br
              %strong Since:
              17/05/2012
              %br
                %strong Status:
                %span.label.label-success Approved
          %li
            %strong Name:
            %a{:href => "#"}
              Anna Zelt
            %br
              %strong Since:
              17/05/2012
              %br
                %strong Status:
                %span.label.label-warning Pending
          %li
            %strong Name:
            %a{:href => "#"}
              Wojciech Ross
            %br
              %strong Since:
              25/05/2012
              %br
                %strong Status:
                %span.label.label-important Banned
          %li
            %a{:href => "#"}
              %strong Name:
            %a{:href => "#"}
              Piotr Polski
            %br
              %strong Since:
              17/05/2012
              %br
                %strong Status:
                %span.label.label-info Updates
  / /span
  .box.span4
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-list-alt
        Realtime Traffic
      .box-icon
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content
      #realtimechart{:style => "height:190px;"}
      %p.clearfix You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.
      %p
        Time between updates:
        %input#updateInterval{:style => "text-align: right; width:5em", :type => "text", :value => ""} milliseconds
  / /span
/ /row
.row-fluid.sortable
  .box.span4
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-list
        Buttons
      .box-icon
        %a.btn.btn-setting.btn-round{:href => "#"}
          %i.icon-cog
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content.buttons
      %p.btn-group
        %button.btn Left
        %button.btn Middle
        %button.btn Right
      %p
        %button.btn.btn-small
          %i.icon-star
          Icon button
        %button.btn.btn-small.btn-primary Small button
        %button.btn.btn-small.btn-danger Small button
      %p
        %button.btn.btn-small.btn-warning Small button
        %button.btn.btn-small.btn-success Small button
        %button.btn.btn-small.btn-info Small button
      %p
        %button.btn.btn-small.btn-inverse Small button
        %button.btn.btn-large.btn-primary.btn-round Round button
        %button.btn.btn-large.btn-round
          %i.icon-ok
        %button.btn.btn-primary
          %i.icon-edit.icon-white
      %p
        %button.btn.btn-mini Mini button
        %button.btn.btn-mini.btn-primary Mini button
        %button.btn.btn-mini.btn-danger Mini button
        %button.btn.btn-mini.btn-warning Mini button
      %p
        %button.btn.btn-mini.btn-info Mini button
        %button.btn.btn-mini.btn-success Mini button
        %button.btn.btn-mini.btn-inverse Mini button
  / /span
  .box.span4
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-list
        Buttons
      .box-icon
        %a.btn.btn-setting.btn-round{:href => "#"}
          %i.icon-cog
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content.buttons
      %p
        %button.btn.btn-large Large button
        %button.btn.btn-large.btn-primary Large button
      %p
        %button.btn.btn-large.btn-danger Large button
        %button.btn.btn-large.btn-warning Large button
      %p
        %button.btn.btn-large.btn-success Large button
        %button.btn.btn-large.btn-info Large button
      %p
        %button.btn.btn-large.btn-inverse Large button
      .btn-group
        %button.btn.btn-large Large Dropdown
        %button.btn.btn-large.dropdown-toggle{"data-toggle" => "dropdown"}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"}
              %i.icon-star
              Action
          %li
            %a{:href => "#"}
              %i.icon-tag
              Another action
          %li
            %a{:href => "#"}
              %i.icon-download-alt
              Something else here
          %li.divider
          %li
            %a{:href => "#"}
              %i.icon-tint
              Separated link
  / /span
  .box.span4
    .box-header.well{"data-original-title" => ""}
      %h2
        %i.icon-list
        Weekly Stat
      .box-icon
        %a.btn.btn-setting.btn-round{:href => "#"}
          %i.icon-cog
        %a.btn.btn-minimize.btn-round{:href => "#"}
          %i.icon-chevron-up
        %a.btn.btn-close.btn-round{:href => "#"}
          %i.icon-remove
    .box-content
      %ul.dashboard-list
        %li
          %a{:href => "#"}
            %i.icon-arrow-up
            %span.green 92
            New Comments
        %li
          %a{:href => "#"}
            %i.icon-arrow-down
            %span.red 15
            New Registrations
        %li
          %a{:href => "#"}
            %i.icon-minus
            %span.blue 36
            New Articles
        %li
          %a{:href => "#"}
            %i.icon-comment
            %span.yellow 45
            User reviews
        %li
          %a{:href => "#"}
            %i.icon-arrow-up
            %span.green 112
            New Comments
        %li
          %a{:href => "#"}
            %i.icon-arrow-down
            %span.red 31
            New Registrations
        %li
          %a{:href => "#"}
            %i.icon-minus
            %span.blue 93
            New Articles
        %li
          %a{:href => "#"}
            %i.icon-comment
            %span.yellow 254
            User reviews