#myModal.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Settings
  .modal-body
    %p Here settings can be configured...
  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#"} Close
    %a.btn.btn-primary{:href => "#"} Save changes
%footer
  %p.pull-left
    \&copy;
    %a{:href => "http://usman.it", :target => "_blank"} Muhammad Usman
    2012
  %p.pull-right
    Powered by:
    %a{:href => "http://usman.it/free-responsive-admin-template"} Charisma
/ /.fluid-container