.span2.main-menu-span
  .well.nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li.nav-header.hidden-tablet Main menu
      %li
        = link_to dashboard_path do
          %i.icon-home
          %span.hidden-tablet Dashboard
      %li
        %a{:href => publishers_path }
          %i.icon-th
          %span.hidden-tablet Publishers
      %li
        %a{:href => titles_path }
          %i.icon-th
          %span.hidden-tablet Titles
      %li
        %a{:href => sell_points_path }
          %i.icon-th
          %span.hidden-tablet Sell Points
      %li
        %a{:href => offers_path }
          %i.icon-th
          %span.hidden-tablet Point's offers
      %li
        %a{:href => packages_path }
          %i.icon-th
          %span.hidden-tablet Publisher's offers (packages)
      %li{style: 'display:none'}
        %a{:href => sell_points_path }
          %i.icon-th
          %span.hidden-tablet Sell Points2
  / /.well
/ /span
/ left menu ends