.span2.main-menu-span
  .well.nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li.nav-header.hidden-tablet Main menu
      %li
        = link_to dashboard_path do
          %i.icon-home
          %span.hidden-tablet Dashboard
      %li
        %a{:href => publishers_path }
          %i.icon-th
          %span.hidden-tablet Publishers
      %li
        %a{:href => issues_path }
          %i.icon-th
          %span.hidden-tablet Issues
      %li
        %a{:href => sell_points_path }
          %i.icon-th
          %span.hidden-tablet Sell Points
  / /.well
/ /span
/ left menu ends