/ topbar starts
.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "index.html"}
        =  image_tag('img/logo20.png')
        %span{style:'font-family:Arial'} PMPG
      / user dropdown starts
      .btn-group.pull-right
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.icon-user
          %span.hidden-phone admin
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Profile
          %li.divider
          %li
            %a{:href => "#"} Logout
      / user dropdown ends
      .top-nav.nav-collapse
        %ul.nav
          %li
          %li
            %form.navbar-search.pull-left
              %input.search-query.span2{:name => "query", :placeholder => "Search", :type => "text"}
      / /.nav-collapse
/ topbar ends