<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName xxxx.xxxx.xxxx.xxx

  DocumentRoot /var/www
  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>
  <Directory /var/www/>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
  <Directory "/usr/lib/cgi-bin">
    AllowOverride None
    Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
    Order allow,deny
    Allow from all
  </Directory>

  Alias /sellit /home/karol/rails_project/sellit_prod/current/public
  <Location /sellit>
    PassengerBaseUri /sellit
    PassengerAppRoot /home/karol/rails_project/sellit_prod/current
  </Location>
  <Directory /home/karol/rails_project/sellit_prod/current/public>
    Allow from all
    Options -MultiViews
    RailsEnv production
  </Directory>

  Alias /sellit_test /home/karol/rails_project/sellit_test/current/public
  <Location /sellit_test>
    PassengerBaseUri /sellit_test
    PassengerAppRoot /home/karol/rails_project/sellit_test/current
  </Location>
  <Directory /home/karol/rails_project/sellit_test/current/public>
    Allow from all
    Options -MultiViews
    RailsEnv development
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn

  CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>