require "rvm/capistrano"
require 'bundler/capistrano'
require 'capistrano/ext/multistage'

set :stages, %w(production, presentation)
set :default_stage, "presentation"

set :application, "sellit"
set :repository,  "https://github.com/xxxxxx"

set :deploy_to, "/home/karol/rails_project/sellit"
set :scm, :git
set :branch, "master"
set :user, "xxxxx"
set :scm_passphrase, "xxxxx"
set :use_sudo, false
set :deploy_via, :copy
set :keep_releases, 5
default_run_options[:pty] = true

server "xxxxx", :app, :web, :db, :primary => true

namespace :deploy do
  desc "symlink bundle files"
  task :symlink_bundle do
    run "#{try_sudo} ln -s #{deploy_to}/shared/bundle #{release_path}/vendor/bundle"
  end

  desc "symlink db config"
  task :symlink_db_config do
    run "rm -rf #{release_path}/config/database.yml"
    run "#{try_sudo} ln -s #{deploy_to}/shared/config/database.yml #{release_path}/config/database.yml"
  end

  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end

end

after "bundle:install", "deploy:symlink_bundle"
after "deploy:symlink_bundle", "deploy:symlink_db_config"
after "deploy:symlink_db_config", "deploy:migrate"
after "deploy", "deploy:restart"
after "deploy", "deploy:cleanup"

# set :scm, :git # You can set :scm explicitly or Capistrano will make an intelligent guess based on known version control directory names
# Or: `accurev`, `bzr`, `cvs`, `darcs`, `git`, `mercurial`, `perforce`, `subversion` or `none`

# role :web, "your web-server here"                          # Your HTTP server, Apache/etc
# role :app, "your app-server here"                          # This may be the same as your `Web` server
# role :db,  "your primary db-server here", :primary => true # This is where Rails migrations will run
# role :db,  "your slave db-server here"

# if you want to clean up old releases on each deploy uncomment this:
# after "deploy:restart", "deploy:cleanup"

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

# If you are using Passenger mod_rails uncomment this:
# namespace :deploy do
#   task :start do ; end
#   task :stop do ; end
#   task :restart, :roles => :app, :except => { :no_release => true } do
#     run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
#   end
# end